<div class="card-details">
    <div class="card-details-img">
      <img [src]="card?.snippet?.thumbnails?.standard?.url || card?.snippet?.thumbnails?.default?.url " />

      <div (click)="navBack()" class="card-details-back">
        <img src="../../../../assets/icons/back_button.png" />
      </div>
    </div>
    <div class="card-details-info">
      <div class="card-details-title">
        {{card?.snippet?.title}}
      </div>
      <div class="card-details-description">
        <div class="card-details-description-label">Description:</div>
        <div class="card-details-description-text">{{card?.snippet?.description}}</div>
      </div>

      <div class="card-details-statistic">
        <div class="card-details-statistic-card">
          <img class="card-details-statistic__icon" src="../../../../assets/icons/viewed.png" />
          <span class="card-details-statistic__value">{{card?.statistics?.viewCount|views}}</span>
        </div>
        <div class="card-details-statistic-card">
          <img class="card-details-statistic__icon" src="../../../../assets/icons/liked.png" />
          <span class="card-details-statistic__value">{{card?.statistics?.likeCount|views}}</span>
        </div>
        <div class="ccard-details-statistic-card">
          <img class="card-details-statistic__icon" src="../../../../assets/icons/dislike.png" />
          <span class="card-details-statistic__value">{{card?.statistics?.dislikeCount|views}}</span>
        </div>
        <div class="card-details-statistic-card">
          <img class="card-details-statistic__icon" src="../../../../assets/icons/comment.png" />
          <span class="card-details-statistic__value">{{card?.statistics?.commentCount|views}}</span>
        </div>
      </div>

      <div appCardMarkerColor [date]="card?.snippet?.publishedAt" class="card-details-footer"></div>
    </div>
  </div>
